<%= provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Sample App</h1>
    <p>This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.</p>
</div>


