<% provide :title, 'Login' %>
<h1>Login</h1>
<div class="form-group">
    <%= form_for(:session, url: login_path) do |s| %>
        <%= s.label :email, class: "control-label" %>
        <%= s.email_field :email, class: "form-control" %>

        <%= s.label :password, class: "control-label" %>
        <%= s.password_field :password, class: "form-control" %>

        <%= s.label :remember_me, class: "checkbox inline" do %>
            <%= s.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>

        <%= s.submit "Login", class: "btn btn-primary" %>
    <% end %>
    <p>New user? <%= link_to "sign up now!", signup_path %></p>
</div>