<% provide :title, 'Sign up' %>
<h1>Sign up</h1>

<div class="form-group">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "Confirm Password", class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "Create My Account", class: "btn btn-primary" %>
    <% end %>
</div>