<% provide(:title, @user.name) %>
<div class="user">
    <div class="gravatar">
        <%= gravatar_for @user %>
    </div>
    <div class="user-name">
        <h3><%= @user.name %></h3>
    </div>
</div>
