// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.checkbox {
    margin-bottom: 10px;
    margin-left: 20px;

    span {
        font-weight: normal;
    }
}