// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.jumbotron {
    margin-top: 30px;
}

footer {
    border-top: 1px solid  #eaeaea;
    padding-top: 5px;
    margin-top: 45px;
    ul {
        list-style: none;
        li {
            margin-right: 20px;
        }
    }
}