// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.form-group {
    width: 30%;
    margin-left: 400px;
    .control-label {
        padding-top: 10px;
    }
    .form-control {
        margin-top: 5px;
    }
    .btn {
        margin-top: 20px;
    }
}

h1 {
    text-align: center;
}

#error_explanation {
    color: red;
}

.user {
    width: 300px;
    overflow: auto;
}

.gravatar, .user-name {
    float: left;
}

.user-name {
    padding-left: 30px;
}
